.faq {
  background-color: $primary-bg-color;
}

.faq__wrapper {
  width: 320px;
  padding: 51px 15px 50px;
}

.faq__title {
  margin: 0 0 29px;
  font-family: $primary-font;
  font-size: 20px;
  line-height: 1;
  font-weight: 400;
  color: $accent-text-color;
  text-align: center;
}

.faq__accordion {
  display: flex;
  flex-direction: column;
}

.faq__accordion-item {
  display: grid;
  grid-template-columns: 1fr 40px;
  gap: 0;
  justify-items: end;
  align-items: center;
  transition: gap 0.3s ease;
  width: 290px;
  margin: 0 0 10px;
  padding: 20px 15px;
  background-color: transparent;
  border: 2px solid $accent-bg-color;
  border-radius: 14px;
}

.faq__accordion-item:last-child {
  margin: 0;
}

.faq__accordion-item.active {
  gap: 19px 0;
  background-color: $accent-bg-color;
}

.faq__accordion-item h3 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  transition: margin 0.3s ease, color 0.3s ease;
  margin: 0;
  padding: 0;
  font-family: $primary-font;
  font-size: 16px;
  line-height: 1.13;
  font-weight: 400;
  color: $accent-text-color;
}

.faq__accordion-item.active h3 {
  color: $secondary-text-color;
  margin: 0;
}

.faq__accordion-item button {
  position: relative;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  transition: background-color 0.3s ease;
  width: 40px;
  height: 40px;
  border: none;
  background-color: $primary-button-bg-color;
  border-radius: 50%;

  &::before {
    @include pseudo(18px, 1px);

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: background-color 0.3s ease;
    background-color: $secondary-button-bg-color;
  }

  &::after {
    @include pseudo(1px, 18px);

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease, background-color 0.3s ease;
    background-color: $secondary-button-bg-color;
  }
}

.faq__accordion-item.active button {
  background-color: $secondary-button-bg-color;

  &::before {
    background-color: $primary-button-bg-color;
  }

  &::after {
    transform: translate(-50%, -50%) rotate(90deg);
    background-color: $primary-button-bg-color;
  }
}

.faq__accordion-item p {
  overflow: hidden;
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  transition: max-height 0.3s ease, opacity 0.3s ease;
  max-height: 0;
  margin: 0;
  padding: 0;
  font-family: $primary-font;
  font-size: 14px;
  line-height: 1.43;
  font-weight: 400;
  color: $secondary-text-color;
  text-align: left;
  opacity: 0;
}

.faq__accordion-item.active p {
  max-height: 400px;
  opacity: 1;
}
