.faq {
  background-color: $primary-bg-color;
}

.faq__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 51px 15px 50px;

  @media (min-width: $tablet-width) {
    width: 768px;
    padding: 51px 45px 50px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    padding: 71px 206px 60px;
  }
}

.faq__title {
  margin: 0 0 29px;
  font-family: $primary-font;
  font-size: 20px;
  line-height: 1;
  font-weight: 400;
  color: $accent-text-color;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin: 0 0 39px;
    font-size: 34px;
    line-height: 1.47;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 71px;
    font-size: 50px;
    line-height: 1;
  }
}

.faq__accordion {
  display: flex;
  flex-direction: column;
}

.faq__accordion-item {
  display: grid;
  grid-template-columns: 1fr 40px;
  gap: 0;
  justify-items: end;
  align-items: center;
  transition: gap 0.3s ease;
  width: 290px;
  margin: 0 0 10px;
  padding: 20px 15px;
  background-color: transparent;
  border: 2px solid $accent-bg-color;
  border-radius: 14px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    justify-items: start;
    width: 678px;
    padding: 30px;
    border-radius: 16px;
  }

  @media (min-width: $desktop-width) {
    width: 1028px;
    padding: 40px;
  }
}

.faq__accordion-item:last-child {
  margin: 0;
}

.faq__accordion-item.active {
  gap: 19px 0;
  background-color: $accent-bg-color;

  @media (min-width: $tablet-width) {
    gap: 20px 0;
  }
}

.faq__accordion-item h3 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  transition: color 0.3s ease;
  margin: 0;
  padding: 0;
  font-family: $primary-font;
  font-size: 16px;
  line-height: 1.13;
  font-weight: 400;
  color: $accent-text-color;

  @media (min-width: $tablet-width) {
    font-size: 22px;
    line-height: 1.18;
  }

  @media (min-width: $desktop-width) {
    width: 894px;
    padding: 1px 0 0;
    font-size: 28px;
    line-height: 1.21;
  }
}

.faq__accordion-item h3 br {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.faq__accordion-item.active h3 {
  color: $secondary-text-color;
}

.faq__accordion-item button {
  position: relative;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  transition: background-color 0.3s ease;
  width: 40px;
  height: 40px;
  border: 1px solid transparent;
  background-color: $primary-button-bg-color;
  border-radius: 50%;

  &::before {
    @include pseudo(18px, 1px);

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: background-color 0.3s ease;
    background-color: $secondary-button-bg-color;
  }

  &::after {
    @include pseudo(1px, 18px);

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease, background-color 0.3s ease;
    background-color: $secondary-button-bg-color;
  }

  @media (min-width: $tablet-width) {
    align-self: start;
  }
}

.faq__accordion-item.active button {
  background-color: $secondary-button-bg-color;

  &::before {
    background-color: $primary-button-bg-color;
  }

  &::after {
    transform: translate(-50%, -50%) rotate(90deg);
    background-color: $primary-button-bg-color;
  }
}

.faq__accordion-item p {
  overflow: hidden;
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  transition: max-height 0.3s ease, opacity 0.3s ease;
  max-height: 0;
  margin: 0;
  padding: 0;
  font-family: $primary-font;
  font-size: 14px;
  line-height: 1.43;
  font-weight: 400;
  color: $additional-text-color;
  text-align: left;
  opacity: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 1.25;
  }

  @media (min-width: $desktop-width) {
    line-height: 1.63;
  }
}

.faq__accordion-item.active p {
  max-height: 1500px;
  opacity: 1;
}

.faq__accordion-item:hover,
.faq__accordion-item:focus {
  outline: none;
  background-color: $secondary-bg-color;
}

.faq__accordion-item:hover button,
.faq__accordion-item:focus button {
  outline: none;
  background-color: transparent;
  border-color: $primary-button-bg-color;

  &::before {
    background-color: $primary-button-bg-color;
  }

  &::after {
    background-color: $primary-button-bg-color;
  }
}

.faq__accordion-item button:hover,
.faq__accordion-item button:focus {
  outline: none;
  background-color: transparent;
  border-color: $primary-button-bg-color;

  &::before {
    background-color: $primary-button-bg-color;
  }

  &::after {
    background-color: $primary-button-bg-color;
  }
}

.faq__accordion-item:active {
  background-color: $secondary-bg-color;
}

.faq__accordion-item:active h3 {
  color: $active-pagination-color;
}

.faq__accordion-item:active button {
  background-color: $active-pagination-color;
  border-color: $active-pagination-color;

  &::before {
    background-color: $secondary-button-bg-color;
  }

  &::after {
    background-color: $secondary-button-bg-color;
  }
}

.faq__accordion-item button:active {
  background-color: $active-pagination-color;
  border-color: $active-pagination-color;

  &::before {
    background-color: $secondary-button-bg-color;
  }

  &::after {
    background-color: $secondary-button-bg-color;
  }
}

.faq__accordion-item.active:hover,
.faq__accordion-item.active:focus {
  outline: none;
  background-color: $accent-bg-color;
  border-color: $secondary-bg-color;
}

.faq__accordion-item.active:hover button,
.faq__accordion-item.active:focus button {
  outline: none;
  background-color: transparent;
  border-color: $secondary-button-bg-color;

  &::after {
    background-color: $secondary-button-bg-color;
  }
}

.faq__accordion-item.active:active {
  background-color: $active-pagination-color;
  border-color: $active-pagination-color;
}

.faq__accordion-item.active:active button {
  background-color: $secondary-bg-color;
  border-color: $secondary-bg-color;

  &::after {
    background-color: $active-pagination-color;
  }
}

.faq__accordion-item button:disabled {
  pointer-events: none;
  background-color: $disabled-color;
  border-color: $disabled-color;

  &::before {
    background-color: $secondary-button-bg-color;
  }

  &::after {
    background-color: $secondary-button-bg-color;
  }
}

.faq__accordion-item.disabled {
  pointer-events: none;
  background-color: $disabled-color;
  border-color: $disabled-color;
}

.faq__accordion-item.disabled h3 {
  pointer-events: none;
  color: $translucent-text-color;
}

.faq__accordion-item.disabled button {
  pointer-events: none;
  background-color: $disabled-color;
  border-color: $disabled-color;

  &::before {
    background-color: $secondary-button-bg-color;
  }

  &::after {
    background-color: $secondary-button-bg-color;
  }
}
