.header {
  display: grid;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
  grid-template-columns: repeat(2, 1fr);
  gap: 4px 0;
  width: 320px;
  margin: 0 auto;
  padding: 20px 15px 0;
  background-color: transparent;

  @media (min-width: $tablet-width) {
    width: 768px;
    padding: 30px 45px 0;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    padding: 30px 100px 0;
  }
}

.header__image-wrapper {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  padding: 1px 0;

  @media (min-width: $tablet-width) {
    padding: 2px 0;
  }
}

.header__image-wrapper img {
  display: block;
}

.header__menu-button {
  position: relative;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  transition: width 0.3s ease, color 0.3s ease-in, background-color 0.3s ease;
  width: 136px;
  margin: 0 0 0 auto;
  padding: 19px 71px 19px 20px;
  font-family: $primary-font;
  font-size: 14px;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 0.28px;
  text-align: left;
  border: 1px solid $primary-button-bg-color;
  border-radius: 30px;

  &::before {
    @include pseudo(46px, 46px);

    top: 50%;
    right: 4px;
    transform: translateY(-50%);
    transition: background-color 0.3s ease;
    background-color: $primary-button-bg-color;
    border-radius: 50%;
  }

  &::after {
    @include pseudo(16px, 8px);

    top: 50%;
    right: 19px;
    z-index: 2;
    transform: translateY(-50%);
    mask-image: url("/__spritemap#sprite-burger-menu-icon-view");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 100%;
    transition: background-color 0.3s ease;
    background-color: $secondary-button-bg-color;
  }

  @media (min-width: $tablet-width) {
    padding: 20px 71px 20px 20px;
  }
}

.header__menu-button--open {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  width: 100%;
  background-color: $primary-button-bg-color;
  color: $secondary-text-color;

  &::before {
    background-color: $secondary-button-bg-color;
  }

  &::after {
    top: 50%;
    right: 16px;
    z-index: 2;
    width: 20px;
    height: 20px;
    transform: translateY(-50%);
    mask-image: url("/__spritemap#sprite-burger-menu-cross-icon-view");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 100%;
    background-color: $primary-button-bg-color;
  }

  @media (min-width: $tablet-width) {
    width: 286px;
  }
}

.header__navigation {
  pointer-events: none;
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  justify-self: flex-end;
  width: 290px;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, opacity 0.3s ease;
  padding: 33px 25px;
  background-color: $accent-bg-color;
  border-radius: 16px;

  @media (min-width: $tablet-width) {
    width: 286px;
  }
}

.header__navigation--open {
  overflow: visible;
  pointer-events: all;
  max-height: 568px;
  opacity: 1;
}

.header__menu-button:hover {
  color: $secondary-text-color;
  background-color: $primary-button-bg-color;
  border-color: $secondary-button-bg-color;

  &::before {
    background-color: $secondary-button-bg-color;
  }

  &::after {
    background-color: $primary-button-bg-color;
  }
}

.header__menu-button--open:hover {
  color: $accent-text-color;
  background-color: $secondary-button-bg-color;
  border-color: $primary-button-bg-color;

  &::before {
    background-color: $primary-button-bg-color;
  }

  &::after {
    background-color: $secondary-button-bg-color;
  }
}

.header__menu-button:focus {
  outline: none;
}

.header__menu-button:active {
  opacity: 0.7;
}

.header__menu-button:disabled,
.header__menu-button.disabled {
  pointer-events: none;
  color: $disabled-color;
  background-color: transparent;
  border-color: $disabled-color;

  &::before {
    background-color: $disabled-color;
  }

  &::after {
    background-color: $secondary-button-bg-color;
  }
}
