.modal-window {
  background-color: transparent;
}

.modal-window__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 290px;
  margin: 0 auto;
  padding: 40px 15px;
  background-color: $secondary-bg-color;
  border-radius: 16px;
}

.modal-window__button {
  position: absolute;
  top: 22px;
  right: 22px;
  width: 16px;
  height: 16px;

  &::before {
    @include pseudo(16px, 16px);

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    mask-image: url("/__spritemap#sprite-burger-menu-cross-icon-view");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 100%;
    background-color: $primary-button-bg-color;
  }
}

.modal-window__title {
  margin: 0 0 15px;
  padding: 0 20px;
  font-family: $primary-font;
  font-size: 18px;
  line-height: 1;
  font-weight: 400;
  color: $accent-text-color;
}

.modal-window__text {
  margin: 0 0 25px;
  padding: 0 20px;
  text-align: center;
  font-family: $primary-font;
  font-size: 14px;
  line-height: 1.43;
  font-weight: 400;
  color: $primary-text-color;
}
