.navigation__list {
  display: none;
}

.navitagion__item {
  font-family: $primary-font;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.navitagion__item:not(:last-child) {
  margin: 0 0 24px;
}

.navigation__link {
  display: block;
  font-family: $primary-font;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-decoration: none;
  color: $translucent-text-color;
}

.navigation__button {
  position: relative;
  padding: 0;
  font-family: $primary-font;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-decoration: none;
  color: $translucent-text-color;
  background-color: transparent;
  border: none;

  &::after {
    @include pseudo(8px, 8px);

    top: 2px;
    right: -20px;
    transform: rotate(135deg);
    transition: transform 0.3s ease-in, top 0.3s ease-in;
    border-top: 1px solid $secondary-text-color;
    border-right: 1px solid $secondary-text-color;
  }
}

.navigation__item-list {
  padding: 0 0 0 16px;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: padding 0.3s ease, max-height 0.3s ease, opacity 0.3s ease;
}

.navitagion__item--item-with-list-open .navigation__item-list {
  padding: 16px 0 0 16px;
  max-height: 500px;
  opacity: 1;
}

.navitagion__item--item-with-list-open .navigation__button {
  color: $secondary-text-color;

  &::after {
    top: 6px;
    transform: rotate(-45deg);
  }
}

.navigation__item-list-sub-item:not(:last-child) {
  margin: 0 0 12px;
}

.navigation__item-list-sub-item .navigation__link {
  font-family: $primary-font;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 0;
  text-transform: none;
  text-decoration: none;
  color: $secondary-translucent-text-color;
}

.navigation__link:hover,
.navigation__button:hover,
.navigation__link:focus,
.navigation__button:focus {
  outline: none;
  color: $secondary-text-color;
}

.navigation__item-list-sub-item .navigation__link:hover,
.navigation__item-list-sub-item .navigation__link:focus {
  outline: none;
  color: rgba(255, 255, 255, 0.9);
}

.navigation__link:active,
.navigation__button:active {
  opacity: 0.6;
}

.navigation__item-list-sub-item .navigation__link:active {
  opacity: 0.6;
}

.navigation__link:disabled,
.navigation__link.disabled,
.navigation__button:disabled,
.navigation__button.disabled,
.navigation__item-list-sub-item .navigation__link.disabled {
  pointer-events: none;
  color: $disabled-color;
}
