.programs {
  background-color: $primary-bg-color;
}

.programs__wrapper {
  position: relative;
  width: 320px;
  margin: 0 auto;
  padding: 56px 15px 50px;
}

.programs__title {
  width: 235px;
  margin: 0 0 33px;
  font-family: $primary-font;
  font-size: 20px;
  line-height: 1;
  font-weight: 400;
  color: $accent-text-color;
}

.programs__swiper {
  position: static;
  margin: 0 0 31px;
}

.programs__slides-buttons-wrapper {
  position: absolute;
  top: 74px;
  right: 0;
  width: 52px;
}

.programs__prev-slide {
  position: absolute;
  top: 0;
  left: auto;
  right: 40px;
  width: 22px;
  height: 22px;
  background-color: transparent;
  border: none;

  &::after {
    @include pseudo(10px, 10px);

    top: 50%;
    right: 11px;
    transform: translateY(-50%) rotate(180deg);
    mask-image: url("/__spritemap#sprite-slider-arrow-view");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 100%;
    background-color: $primary-button-bg-color;
  }
}

.programs__next-slide {
  position: absolute;
  top: 0;
  right: 10px;
  width: 22px;
  height: 22px;
  background-color: transparent;
  border: none;

  &::after {
    @include pseudo(10px, 10px);

    top: 50%;
    right: 11px;
    transform: translateY(-50%);
    mask-image: url("/__spritemap#sprite-slider-arrow-view");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 100%;
    background-color: $primary-button-bg-color;
  }
}

.programs__card {
  display: flex;
  flex-direction: column;
  min-height: 400px;
}

.programs__card-img-wrapper {
  &::before {
    @include pseudo(100%, 100%);

    top: 0;
    left: 0;
    z-index: 1;
    background-color: $primary-overlay-color;
  }
}

.programs__card-img-wrapper img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  border-radius: 12px;
  box-sizing: border-box;
}

.programs__card-text-content {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 290px;
  margin: auto 0 17px;
  padding: 0 10px;
  z-index: 3;
}

.programs__card-title-wrapper {
  position: relative;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  width: 146px;
  padding: 18px 18px 6px;
  background-color: $secondary-bg-color;
  border-radius: 12px 12px 0 0;

  &::after {
    @include pseudo(18px,18px);

    bottom: 0;
    right: -18px;
    mask-image: url("/__spritemap#sprite-bubble-decor-view");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 100%;
    background-color: $secondary-button-bg-color;
  }
}

.programs__card-title-wrapper h3 {
  margin: 0;
  padding: 0;
  font-family: $primary-font;
  font-size: 16px;
  line-height: 1.13;
  font-weight: 400;
  color: $accent-text-color;
}

.programs__card-text-wrapper {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  width: 210px;
  padding: 12px 16px 15px 18px;
  background-color: $secondary-bg-color;
  border-radius: 0 0 0 12px;
}

.programs__card-text-wrapper p {
  margin: 0;
  padding: 0;
  font-family: $primary-font;
  font-size: 12px;
  line-height: 1.17;
  font-weight: 400;
  color: $primary-text-color;
}

.programs__card-link-wrapper {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  width: 60px;
  padding: 18px 0 21px 12px;
  background-color: $secondary-bg-color;
  border-radius: 0 12px 12px 0;
}

.programs__card-link-wrapper a {
  display: block;
  position: relative;
  width: 30px;
  height: 30px;
  background-color: $primary-button-bg-color;
  border-radius: 50%;

  &::after {
    @include pseudo(8px, 8px);

    top: 50%;
    right: 11px;
    transform: translateY(-50%);
    mask-image: url("/__spritemap#sprite-arrow-icon-view");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 100%;
    background-color: $secondary-button-bg-color;
  }
}

.programs__swiper-scrollbar {
  display: none;
}

.programs__link {
  display: block;
  position: relative;
  width: 205px;
  padding: 16px 67px 14px 31px;
  font-family: $primary-font;
  font-size: 12px;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 0.24px;
  color: $accent-text-color;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid $primary-button-bg-color;
  border-radius: 30px;

  &::before {
    @include pseudo(34px, 34px);

    top: 50%;
    right: 4px;
    transform: translateY(-50%);
    background-color: $primary-button-bg-color;
    border-radius: 50%;
  }

  &::after {
    @include pseudo(8px, 8px);

    top: 50%;
    right: 17px;
    transform: translateY(-50%);
    mask-image: url("/__spritemap#sprite-arrow-icon-view");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 100%;
    background-color: $secondary-button-bg-color;
  }
}

.programs__prev-slide:disabled,
.programs__prev-slide.disabled,
.programs__next-slide:disabled,
.programs__next-slide.disabled {
  opacity: 1;

  &::after {
    background-color: $disabled-color;
  }
}
