.social-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
  }

  @media (min-width: $desktop-width) {
    gap: 20px;
  }
}

.social-list__link {
  position: relative;
  display: block;
  width: 26px;
  height: 26px;
  background-color: $primary-button-bg-color;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    width: 36px;
    height: 36px;
  }
}

.social-list__link--vk {
  &::before {
    @include pseudo(12px, 12px);

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    mask-image: url("/__spritemap#sprite-vk-icon-view");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 100%;
    background-color: $secondary-text-color;
  }

  @media (min-width: $tablet-width) {
    &::before {
      width: 16px;
      height: 17px;
    }
  }
}

.social-list__link--ok {
  &::before {
    @include pseudo(8px, 12px);

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    mask-image: url("/__spritemap#sprite-ok-icon-view");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 100%;
    background-color: $secondary-text-color;
  }

  @media (min-width: $tablet-width) {
    &::before {
      width: 11px;
      height: 18px;
    }
  }
}

.social-list__link--rd {
  &::before {
    @include pseudo(12px, 12px);

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    mask-image: url("/__spritemap#sprite-rd-icon-view");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 100%;
    background-color: $secondary-text-color;
  }

  @media (min-width: $tablet-width) {
    &::before {
      width: 17px;
      height: 18px;
    }
  }
}

.social-list__link:hover {
  &::before {
    background-color: $translucent-text-color;
  }
}

.social-list__link:focus {
  outline: none;
  background-color: $secondary-text-color;

  &::before {
    background-color: $accent-text-color;
  }
}

.social-list__link:active {
  background-color: $active-pagination-color;

  &::before {
    background-color: $secondary-text-color;
  }
}

.social-list__link.disabled {
  pointer-events: none;
  background-color: $disabled-color;

  &::before {
    background-color: $secondary-text-color;
  }
}
