$primary-font: "Manrope", "Arial", sans-serif;
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;
$primary-text-color: #484848;
$secondary-text-color: #ffffff;
$translucent-text-color: rgba(255, 255, 255, 0.7);
$secondary-translucent-text-color: rgba(255, 255, 255, 0.6);
$translucent-accent-text-color: rgba(49, 109, 194, 0.7);
$additional-text-color: #f0efe9;
$accent-text-color: #316dc2;
$primary-bg-color: #f0efe9;
$secondary-bg-color: #ffffff;
$accent-bg-color: #316dc2;
$primary-overlay-color: rgba(49, 109, 194, 0.2);
$secondary-overlay-color: rgba(13, 29, 51, 0.4);
$primary-button-bg-color: #316dc2;
$secondary-button-bg-color: #ffffff;
$active-pagination-color: #275699;
$disabled-color: #a9afb7;
$input-border-color: rgba(72, 72, 72, 0.3);
$input-border-light-color: rgba(255, 255, 255, 0.3);
$scrollbar-horizontal-color: rgba(49, 109, 194, 0.5);

